---
layout: app
---

<div id='home' class='slide'>
  <h2>Hello, we are</h2>
  <h1 itemprop='name'>Active Bridge</h1>
  <h2 itemprop='description'>Ruby on Rails Developers</h2>
  <div class='bordered'>
    <a class='icon-down-open button' href='#about'></a>
  </div>
</div>

<div class='menu' id='navigation'>
  <ul class='navigation' id='nav'>
    <li>
      <a class='nav-item icon-home' href='#home'>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a class='nav-item icon-book' href='#about'>
        <span>About</span>
      </a>
    </li>
    <li>
      <a class='nav-item icon-cog-alt' href='#services'>
        <span>Services</span>
      </a>
    </li>
    <li>
      <a class='nav-item icon-users' href='#team'>
        <span>Team</span>
      </a>
    </li>
    <li>
      <a class='nav-item icon-users' href='#testimonials'>
        <span>Testimonials</span>
      </a>
    </li>
    <li>
      <a class='nav-item icon-vcard' href='#contacts'>
        <span>Contacts</span>
      </a>
    </li>
    <li>
      <a href='https://active-bridge.com/portfolio' target='_blank' class='icon-picture'>
        <span>Portfolio</span>
      </a>
    </li>

    <li>
      <a href='https://blog.active-bridge.com' class='icon-feather'>
        <span>Blog</span>
      </a>
    </li>
  </ul>
</div>

<section id='about' class='slide'>
  <div class='container clearfix'>
    {% include slide.html slide=0 %}
    <div class='grid_8'>
      <h4>Why Active Bridge?</h4>
      <p>
        Foremost, we're the team of web app developers, united by mutual ideas and interests.
        Our passion is Ruby, fundamental value is friendship relationship. Our web development agency
        success pillars are based on customized approach, contribution to the Rails framework and sharing
        our experience.
      </p>
      <ul class='about-list'>
        {% for property in site.data.properties %}
        <li>
          <i class='fontawesome-icon icon-ok'></i>
          {{ property.text }}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class='grid_4 omega'>
      <h4>Our Skills</h4>
      <ul id='skills'>
        {% for skill in site.data.skills %}
        <li>{{ skill.title }}</li>
        <li class='progress'>
          <div class='bar' style="width: {{ skill.value }}%">
            <b>{{ skill.value }}</b>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% include spliter.html slide="#about" %}

<section id='services' class='slide'>
  <div class='container clearfix'>
    {% include slide.html slide=1 %}

    {% for service in site.data.services %}
      {% include service.html service=service %}
    {% endfor %}
  </div>
</section>

{% include spliter.html slide="#services" %}

<section id='team' class='slide'>
  <div class='container clearfix'>
    {% include slide.html slide=2 %}

    <ul class='members'>
      {% assign members = site.data.members | sort:"priority" %}
      {% for member in members %}
      {% include member.html member=member %}
      {% endfor %}
    </ul>
  </div>
</section>

{% include spliter.html slide="#team" %}

<section id='testimonials' class='slide'>
  <div class='container clearfix'>
    {% include slide.html slide=3 %}
    <h1>text</h1>
  </div>
</section>

{% include spliter.html slide="#testimonials" %}

<section id='contacts' class='slide'>
  <div class='container clearfix'>
    {% include slide.html slide=4 %}
    <form class='grid_6 omega' action="https://active-bridge.com/contact" method="post" accept-charset="utf-8" onsubmit="document.getElementById('send').disabled = true; ga('send', 'event', 'form', 'submit')">

      <fieldset>
        <legend>Get Free Consultation</legend>
        <label for="name">Name</label>
        <input type="text" name="contact[name]" id="name" placeholder='Chuck Norris'/>
        <label for="email">Email</label>
        <input type="email" name="contact[email]" id="email" placeholder='your@mail.com' required/>
        <label for="message">Messsage</label>
        <textarea name="contact[message]" rows="5" placeholder='How is it going?' id='message' required></textarea>
        <button id='send' type="submit">SEND</button>
      </fieldset>
    </form>
    <div class='grid_6'>
      <ul class='contact-info'>
        <li itemprop='telephone'>
          <a class='icon icon-phone-squared' href='tel:+380977535731'>
            +38 097 753 5731
          </a>
        </li>
        <li itemprop='email'>
          <a class='icon icon-mail-alt' href='mailto:contact@active-bridge.com?subject=I am interested in you'
            > contact@active-bridge.com
          </a>
        </li>
        <li itemprop='address' itemscope itemtype='http://schema.org/PostalAddress'>
          <a class='icon icon-location' itemprop='addressLocality' target='_blank' href="https://www.google.com/maps/place/Marshala+Krasovs'koho+St,+8,+Cherkasy,+Cherkas'ka+oblast,+Ukraine/@44.6228353,29.6920978,5z/data=!4m2!3m1!1s0x40d14b8febf9aa21:0xe43a326d1c2451c2">
            Cherkassy, Ukraine
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
