---
layout: app
---

<div class='bg'></div>
<div id='home' class='slide'>
  <div class='overlay-bg'>
    <div class='container clearfix'>
      <div class='grid_12'>
        <div class='home-text'>Hello, we are</div>
        <h1>Active Bridge</h1>
        <h2>Ruby on Rails Developers</h2>
        <div class='bordered'>
          <a class='icon-down-open button' href='#about'></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='menu' id='navigation'>
  <ul class='navigation right' id='nav'>
    <li class='active'><a href='#home'>Home</a></li>
    <li><a href='#about'>About</a></li>
    <li><a href='#services'>Services</a></li>
    <li><a href='#team'>Team</a></li>
    <li><a href='#contacts'>Contacts</a></li>
  </ul>
</div>

<div id='about' class='slide'>
  <div class='container clearfix'>
    {% include slide.html slide=0 %}
    <div class='grid_8'>
      <h4>Why Active Bridge?</h4>
      <p>
        We never stop improving our services, including development methodologies,
        engineering practices and management techniques to enhance our team’s capabilities and increase customer satisfaction.
      </p>
      <ul class='about-list'>
        {% for property in site.data.properties %}
        <li>
          <i class='fontawesome-icon icon-ok'></i>
          {{ property.text }}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class='grid_4 omega'>
      <h4>Our Skills</h4>
      <ul id='skills'>
        {% for skill in site.data.skills %}
        <li>{{ skill.title }}</li>
        <li class='progress'>
          <div class='bar' style="width: {{ skill.value }}%">
            <b>{{ skill.value }}</b>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% include spliter.html slide="#about" %}

<div id='services' class='slide'>
  <div class='container clearfix'>
    {% include slide.html slide=1 %}

    {% for service in site.data.services %}
      {% include service.html service=service %}
    {% endfor %}
  </div>
</div>

{% include spliter.html slide="#services" %}

<div id='team' class='slide'>
  <div class='container clearfix'>
    {% include slide.html slide=2 %}

    {% for member in site.data.members %}
    {% include member.html member=member %}
    {% endfor %}
  </div>
</div>

{% include spliter.html slide="#team" %}

<div id='contacts' class='slide'>
  <div class='container clearfix'>
    {% include slide.html slide=3 %}
    <div class='grid_12'>
      <h4>Contact Us</h4>
      <ul class='contact-info'>
        <li class='icon icon-phone-squared'> +38 097 753 5731</li>
        <li class='icon icon-mail-alt'> eugene@active-bridge.com</li>
        <li class='icon icon-location'> Cherkassy, Ukraine</li>
      </ul>
    </div>
  </div>
</div>
