<div id='footer'>
  <div class='container clearfix'>
    <div class='social-icons'>
      <a class='link icon-github-circled' href='https://github.com/activebridge' target='_blank'></a>
      <a class="link icon-linkedin" href='http://www.linkedin.com/company/5000961' target='_blank'></a>
      <a class='link icon-facebook' href='https://www.facebook.com/ActiveBridgeTeam' target='_blank'></a>
      <a class='link icon-twitter' href='https://twitter.com/ActiveBridge' target='_blank'></a>
    </div>
    <div class='copyright'>Active Bridge, LLC © 2013-2014. All Rights Reserved.</div><a class='button icon-angle-double-up' href='#home'></a>
  </div>
</div>
