<li class="member">
  <figure class="member-img {{ include.member.id }}"></figure>
  <div class='name'>{{ include.member.name }}</div>
  <p>{{ include.member.position }}</p>
  <div class='member-icons'>
    <a class='icon-stackoverflow' href="http://careers.stackoverflow.com/{{ include.member.careers }}" target="_blank"></a>
    <a class='icon-github' href="https://github.com/{{ include.member.github }}" target="_blank"></a>
    <a class='icon-linkedin' href="http://ua.linkedin.com/in/{{ include.member.linkedin }}" target="_blank"></a>
  </div>
</li>
