.member-img  { background: url(../images/funny.jpg); background-size: cover; }
.alex { background-position: -0%; }
.alexey { background-position: -100%; }
.anton { background-position: -200%; }
.dmitriy { background-position: -300%; }
.galya { background-position: -400%; }
.igor { background-position: -500%; }
.jeka { background-position: -600%; }
.kovtun { background-position: -700%; }
.marchenko { background-position: -800%; }
.naumenko { background-position: -900%; }
.olegsobchuk { background-position: -1000%; }
.papushaev { background-position: -1100%; }
.pasha { background-position: -1200%; }
.ruslan { background-position: -1300%; }
.stadnik { background-position: -1400%; }
.surzhko { background-position: -1500%; }
.tsibulko { background-position: -1600%; }
.verbaleks { background-position: -1700%; }
.victor { background-position: -1800%; }
.vitaliy { background-position: -1900%; }
.voloshyn { background-position: -2000%; }
.vova { background-position: -2100%; }
.yuriy { background-position: -2200%; }
