.member-img  { background: url(../images/funny.jpg); background-size: cover; }
.alex { background-position: -0%; }
.alex-pro { background-position: -100%; }
.alexey { background-position: -200%; }
.andreeva { background-position: -300%; }
.andrew { background-position: -400%; }
.anton { background-position: -500%; }
.bobrova { background-position: -600%; }
.dasha { background-position: -700%; }
.demon { background-position: -800%; }
.dmitriy { background-position: -900%; }
.igor { background-position: -1000%; }
.jeka { background-position: -1100%; }
.kirill { background-position: -1200%; }
.kovtun { background-position: -1300%; }
.liza { background-position: -1400%; }
.marchenko { background-position: -1500%; }
.maxim { background-position: -1600%; }
.misan { background-position: -1700%; }
.naumenko { background-position: -1800%; }
.nik { background-position: -1900%; }
.ostrovskyi { background-position: -2000%; }
.pasha { background-position: -2100%; }
.ruslan { background-position: -2200%; }
.shmatko { background-position: -2300%; }
.surzhko { background-position: -2400%; }
.tsibulko { background-position: -2500%; }
.verbaleks { background-position: -2600%; }
.victor { background-position: -2700%; }
.vitaliy { background-position: -2800%; }
.vlad { background-position: -2900%; }
.voloshyn { background-position: -3000%; }
.vova { background-position: -3100%; }
.vovakovtun { background-position: -3200%; }
.yarik { background-position: -3300%; }
