@media only screen and (min-width: 767px) and (max-width: 1023px) {

  #home h1 { font-size: 60px; line-height: 80px; }
  #home h2 { font-size: 18px; line-height: 65px; }

  .overlay-bg { padding: 150px 0 30px; }
  .container { width: 724px; }
  .bordered:before, .bordered:after { display: none; }
}

@media only screen and (min-width: 480px) and (max-width: 766px) {

  ul.navigation {
    float: none;
    margin: 0;
    li a {
      padding: 7px 12px;
      font-size: 12px;
    }
  }

  .overlay-bg { padding: 20px 0; }
  .member-img { height: 200px; }
  .member { width: 200px; }
  #home h1 {
    font-size: 52px;
    line-height: 40px;
    margin-top: 10px;
  }
  .home-text { margin-top: -40px; }
  #home h2 { font-size: 22; line-height: 78px; }
  .menu { height: 34px; }

  .bordered:before, .bordered:after { display: none; }
  .overlay-bg { padding: 188px 0 100px; }

  h1 {
    float: none;
    font-size: 60px;
    border-right: none;
    margin: 40px 0 5px;
  }

  .heading-arrow {
    float: none;
    margin: 0 0px 10px 20px;
    font-size: 58px;
  }

  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12,
  .container {
    width: 420px;
  }

  .right { float: none; }
  .left { float: none; }
}

@media screen and (max-width : 479px) {

  ul.navigation li a { padding: 7px 5px 8px; font-size: 11px; }

  .member-img { height: 300px; }
  .member { width: 100%; }
  .menu { height: 35px; }

  .bordered:before, .bordered:after { display: none; }
  .overlay-bg { padding: 188px 0 60px; }
  .home-text { margin-top: -40px; }
  #home h2 { font-size: 18px; line-height: 82px; }
  h4 { font-size: 24px; }
  .heading-arrow { float: none; font-size: 40px; }

  #home h1 {
    font-size: 30px;
    line-height: 40px;
    margin-top: 10px;
  }

  h1 {
    float: none;
    border-right: none;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 40px;
    line-height: 40px;
  }

  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12,
  .container {
    width: 300px;
  }
  .right { float: none; }
  .left { float: none; }
}

@media screen and (max-width : 399px) {

  .overlay-bg { padding: 30px 0; }
  .member-img { height: 295px; }
  .member { width: 100%; }

  .heading-arrow {
    float: none;
    margin: 0 0px 10px 20px;
    font-size: 38px;
    line-height: 50px;
  }

  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12,
  .container {
    width: 295px;
  }

  .copyright { font-size: 10px; }
}
