@media only screen and (min-width: 767px) and (max-width: 1023px) {

  #home {
    padding: 150px 0 30px;
    h1 { font-size: 60px; line-height: 80px; }
    h2 { font-size: 18px; line-height: 65px; }
  }

  .member { width: 200px; }
  .container { width: 724px; }

}

@media only screen and (min-width: 480px) and (max-width: 766px) {

  ul.navigation {
    text-align: center;
    margin: 0;
    li a {
      padding: 12px 10px;
      font-size: 18px;
      span { font-size: 11px; }
    }
  }

  .member { width: 180px; }
  #home {
    padding: 200px 0 100px;
    h1 {
      font-size: 52px;
      line-height: 40px;
      margin-top: 10px;
    }
    h2 { font-size: 22; line-height: 78px; }
  }

  h1 {
    float: none;
    font-size: 60px;
    border-right: none;
    margin: 40px 0 5px;
  }

  .heading-arrow {
    float: none;
    margin: 0 0px 10px 20px;
    font-size: 58px;
  }

  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12,
  .container {
    width: 420px;
  }

  .right { float: none; }
  .left { float: none; }
}

@media screen and (max-width : 479px) {

  ul.navigation {
    text-align: center;
    li a {
      font-size: 28px;
      padding: 8px;
      span { display: none; }
    }
  }

  .member { width: 100%; }

  .heading-arrow { float: none; font-size: 40px; }

  #home {
    padding: 200px 0 60px;
    h2 { font-size: 18px; line-height: 82px; }
    h1 {
      font-size: 30px;
      line-height: 40px;
      margin-top: 10px;
    }
  }

  h4 { font-size: 24px; }

  h1 {
    float: none;
    border-right: none;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 40px;
    line-height: 40px;
  }

  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12,
  .container {
    width: 300px;
  }
  .right { float: none; }
  .left { float: none; }
}

@media screen and (max-width : 320px) {

  .bordered:before, .bordered:after { display: none; }
  #home { padding: 75px 0; }
  .member { width: 100%; }

  .heading-arrow {
    float: none;
    margin: 0 0px 10px 20px;
    font-size: 38px;
    line-height: 50px;
  }

  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12,
  .container {
    width: 285px;
  }

  .copyright { font-size: 10px; }
}
