.member-img img  { background: url(../images/members.jpg); background-size: cover; }
.alex img { background-position: -0%; }
.alexey img { background-position: -100%; }
.anton img { background-position: -200%; }
.dmitriy img { background-position: -300%; }
.galya img { background-position: -400%; }
.igor img { background-position: -500%; }
.jeka img { background-position: -600%; }
.kovtun img { background-position: -700%; }
.marchenko img { background-position: -800%; }
.naumenko img { background-position: -900%; }
.olegsobchuk img { background-position: -1000%; }
.papushaev img { background-position: -1100%; }
.pasha img { background-position: -1200%; }
.ruslan img { background-position: -1300%; }
.stadnik img { background-position: -1400%; }
.surzhko img { background-position: -1500%; }
.tsibulko img { background-position: -1600%; }
.verbaleks img { background-position: -1700%; }
.victor img { background-position: -1800%; }
.vitaliy img { background-position: -1900%; }
.voloshyn img { background-position: -2000%; }
.vova img { background-position: -2100%; }
.yuriy img { background-position: -2200%; }
