.member-img img  { background: url(../images/members.jpg); background-size: cover; }
.alex img { background-position: -0%; }
.alex-pro img { background-position: -100%; }
.alexey img { background-position: -200%; }
.andreeva img { background-position: -300%; }
.andrew img { background-position: -400%; }
.anton img { background-position: -500%; }
.bobrova img { background-position: -600%; }
.dasha img { background-position: -700%; }
.demon img { background-position: -800%; }
.dmitriy img { background-position: -900%; }
.igor img { background-position: -1000%; }
.jeka img { background-position: -1100%; }
.kirill img { background-position: -1200%; }
.kovtun img { background-position: -1300%; }
.liza img { background-position: -1400%; }
.marchenko img { background-position: -1500%; }
.maxim img { background-position: -1600%; }
.misan img { background-position: -1700%; }
.naumenko img { background-position: -1800%; }
.nik img { background-position: -1900%; }
.ostrovskyi img { background-position: -2000%; }
.pasha img { background-position: -2100%; }
.ruslan img { background-position: -2200%; }
.shmatko img { background-position: -2300%; }
.surzhko img { background-position: -2400%; }
.tsibulko img { background-position: -2500%; }
.verbaleks img { background-position: -2600%; }
.victor img { background-position: -2700%; }
.vitaliy img { background-position: -2800%; }
.vlad img { background-position: -2900%; }
.voloshyn img { background-position: -3000%; }
.vova img { background-position: -3100%; }
.vovakovtun img { background-position: -3200%; }
.yarik img { background-position: -3300%; }
