<!DOCTYPE html>
<html class='csstransforms no-csstransforms3d csstransitions'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta content='width=device-width, initial-scale = 1, maximum-scale = 1' name='viewport'>
    <meta charset='utf-8'>
    {% if page.title %}
    <title>{{page.title}} {{site.title}}</title>
    {% else %}
    <title>Active Bridge</title>
    {% endif %}
    <meta content='index,follow,noodp,noydir' name='robots'>
    <meta content='Active Bridge, LLC' name='author'>
    {% if page.description %}
    <meta name='description' content="{{page.description}}"/>
    {% else %}
    <meta name='description' content="{{site.description}}"/>
    {% endif %}
    {% if page.categories %}
    <meta name='keywords' content="{{page.tags | join: ', '}}"/>
    {% else %}
    <meta name='keywords' content="{{site.keywords | join: ', '}}"/>
    {% endif %}
    <meta content='1AeEQ7FZFB4K7URidlmD2UP6z9pzq5HMUACZOhVRbpA' name='google-site-verification'>
    <link href='/../images/favicon.ico' rel='shortcut icon' type='image/x-icon'>
    <link async rel="stylesheet" href='/css/app.css'>
  </head>
  <body>
    <div class='main' itemscope itemtype='http://schema.org/Organization'>
      {{ content }}
      {% include footer.html %}
    </div>
    <script src='/js/app.js'></script>
  </body>
</html>
