---
layout: app
---
<div class='menu fixed'>
  <ul class='navigation'>
    <li>
      <a class='nav-item icon-home' href='/#home'>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a class='nav-item icon-book' href='/#about'>
        <span>About</span>
      </a>
    </li>
    <li>
      <a class='nav-item icon-cog-alt' href='/#services'>
        <span>Services</span>
      </a>
    </li>
    <li>
      <a class='nav-item icon-users' href='/#team'>
        <span>Team</span>
      </a>
    </li>
    <li>
      <a class='nav-item icon-vcard' href='/#contacts'>
        <span>Contacts</span>
      </a>
    </li>
    <li class='active'>
      <a href='/blog' class='icon-feather'>
        <span>Blog</span>
      </a>
    </li>
  </ul>
</div>

<div class='slide'>
  <div class='container clearfix'>{{ content }}</div>
</div>
